.content h1 {
  font-size: 2.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.3;
}

.content h2 {
  line-height: 30px;
  font-weight: 100;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.content p {
  margin-bottom: 1rem;
}

.content ul {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  list-style: unset;
}
.content ul>li {
  margin-bottom: 1rem;
}

.content a, .content span.link {
  color: #737373;
  cursor: pointer;
  text-decoration: underline;
  transition: 200ms ease-in-out;
}

.content a:hover, .content span.link:hover {
  color: #013288;
}