ul.lst-kix_cp5yjl6v6hns-8 {
  list-style-type: none;
}
.lst-kix_z5iskpl4hqw-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_z5iskpl4hqw-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_cp5yjl6v6hns-7 {
  list-style-type: none;
}
.lst-kix_z5iskpl4hqw-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_z5iskpl4hqw-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_z5iskpl4hqw-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_z5iskpl4hqw-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_f1oom7fh98i1-0 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-0 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-2 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-2 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-1 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-1 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-4 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-3 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-6 {
  list-style-type: none;
}
ul.lst-kix_cp5yjl6v6hns-5 {
  list-style-type: none;
}
.lst-kix_cp5yjl6v6hns-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_cp5yjl6v6hns-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_cp5yjl6v6hns-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_c9e2fd7slfgj-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_z5iskpl4hqw-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_cp5yjl6v6hns-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_cp5yjl6v6hns-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_c9e2fd7slfgj-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_atqfw5kehaam-0 {
  list-style-type: none;
}
.lst-kix_z5iskpl4hqw-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_atqfw5kehaam-1 {
  list-style-type: none;
}
.lst-kix_c9e2fd7slfgj-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_atqfw5kehaam-2 {
  list-style-type: none;
}
ul.lst-kix_atqfw5kehaam-3 {
  list-style-type: none;
}
.lst-kix_c9e2fd7slfgj-0 > li:before {
  content: "\002714  ";
}
ul.lst-kix_atqfw5kehaam-4 {
  list-style-type: none;
}
ul.lst-kix_atqfw5kehaam-5 {
  list-style-type: none;
}
ul.lst-kix_atqfw5kehaam-6 {
  list-style-type: none;
}
ul.lst-kix_atqfw5kehaam-7 {
  list-style-type: none;
}
ul.lst-kix_atqfw5kehaam-8 {
  list-style-type: none;
}
.lst-kix_z5iskpl4hqw-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_cp5yjl6v6hns-0 > li:before {
  content: "\002714  ";
}
.lst-kix_c9e2fd7slfgj-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_z5iskpl4hqw-3 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-8 {
  list-style-type: none;
}
.lst-kix_vgi5i1pmf382-2 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_z5iskpl4hqw-4 {
  list-style-type: none;
}
ul.lst-kix_z5iskpl4hqw-1 {
  list-style-type: none;
}
.lst-kix_vgi5i1pmf382-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_vgi5i1pmf382-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_z5iskpl4hqw-2 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-4 {
  list-style-type: none;
}
ul.lst-kix_z5iskpl4hqw-0 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-5 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-6 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-7 {
  list-style-type: none;
}
ul.lst-kix_z5iskpl4hqw-7 {
  list-style-type: none;
}
.lst-kix_vgi5i1pmf382-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_z5iskpl4hqw-8 {
  list-style-type: none;
}
ul.lst-kix_z5iskpl4hqw-5 {
  list-style-type: none;
}
ul.lst-kix_z5iskpl4hqw-6 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-0 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-1 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-2 {
  list-style-type: none;
}
ul.lst-kix_2v89v7pncn64-3 {
  list-style-type: none;
}
.lst-kix_atqfw5kehaam-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_atqfw5kehaam-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_atqfw5kehaam-0 > li:before {
  content: "\0027a2  ";
}
.lst-kix_atqfw5kehaam-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_atqfw5kehaam-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_atqfw5kehaam-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nwtu2d9fx8bf-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nwtu2d9fx8bf-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_nwtu2d9fx8bf-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_ayyts24i95qf-3 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-4 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-1 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-2 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-7 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-8 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-5 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-6 {
  list-style-type: none;
}
ul.lst-kix_ayyts24i95qf-0 {
  list-style-type: none;
}
.lst-kix_nwtu2d9fx8bf-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_atqfw5kehaam-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nwtu2d9fx8bf-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_atqfw5kehaam-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_atqfw5kehaam-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_nwtu2d9fx8bf-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_nwtu2d9fx8bf-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_nwtu2d9fx8bf-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_nwtu2d9fx8bf-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_c9e2fd7slfgj-6 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-5 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-4 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-3 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-2 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-1 {
  list-style-type: none;
}
ul.lst-kix_c9e2fd7slfgj-0 {
  list-style-type: none;
}
.lst-kix_f1oom7fh98i1-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_f1oom7fh98i1-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_f1oom7fh98i1-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vgi5i1pmf382-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vgi5i1pmf382-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_vgi5i1pmf382-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_nwtu2d9fx8bf-8 {
  list-style-type: none;
}
.lst-kix_2v89v7pncn64-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2v89v7pncn64-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ayyts24i95qf-0 > li:before {
  content: "\0027a2  ";
}
.lst-kix_ayyts24i95qf-1 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_nwtu2d9fx8bf-4 {
  list-style-type: none;
}
ul.lst-kix_nwtu2d9fx8bf-5 {
  list-style-type: none;
}
.lst-kix_2v89v7pncn64-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_2v89v7pncn64-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_2v89v7pncn64-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_2v89v7pncn64-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_nwtu2d9fx8bf-6 {
  list-style-type: none;
}
.lst-kix_f1oom7fh98i1-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_nwtu2d9fx8bf-7 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_vgi5i1pmf382-3 {
  list-style-type: none;
}
.lst-kix_2v89v7pncn64-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_2v89v7pncn64-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_vgi5i1pmf382-2 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_vgi5i1pmf382-1 {
  list-style-type: none;
}
.lst-kix_vgi5i1pmf382-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_vgi5i1pmf382-0 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vgi5i1pmf382-7 {
  list-style-type: none;
}
.lst-kix_vgi5i1pmf382-8 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vgi5i1pmf382-6 {
  list-style-type: none;
}
.lst-kix_c9e2fd7slfgj-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vgi5i1pmf382-5 {
  list-style-type: none;
}
ul.lst-kix_vgi5i1pmf382-4 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ayyts24i95qf-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_f1lr7ojo4oib-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_f1lr7ojo4oib-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ayyts24i95qf-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_f1oom7fh98i1-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_vgi5i1pmf382-8 {
  list-style-type: none;
}
.lst-kix_c9e2fd7slfgj-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_ayyts24i95qf-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_2v89v7pncn64-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_c9e2fd7slfgj-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_c9e2fd7slfgj-8 {
  list-style-type: none;
}
.lst-kix_f1oom7fh98i1-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_c9e2fd7slfgj-7 {
  list-style-type: none;
}
.lst-kix_c9e2fd7slfgj-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ayyts24i95qf-3 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_nwtu2d9fx8bf-0 {
  list-style-type: none;
}
.lst-kix_cp5yjl6v6hns-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_nwtu2d9fx8bf-1 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ayyts24i95qf-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_ayyts24i95qf-4 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_nwtu2d9fx8bf-2 {
  list-style-type: none;
}
.lst-kix_f1oom7fh98i1-5 > li:before {
  content: "\0025a0  ";
}
.lst-kix_f1oom7fh98i1-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_nwtu2d9fx8bf-3 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-4 > li:before {
  content: "\0025cb  ";
}
.lst-kix_cp5yjl6v6hns-7 > li:before {
  content: "\0025cb  ";
}
.lst-kix_cp5yjl6v6hns-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_f1oom7fh98i1-6 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_f1lr7ojo4oib-8 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-8 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-7 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-7 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-4 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-3 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-6 {
  list-style-type: none;
}
ul.lst-kix_f1oom7fh98i1-5 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-0 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-2 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-1 {
  list-style-type: none;
}
.lst-kix_f1lr7ojo4oib-0 > li:before {
  content: "\0025cf  ";
}
ul.lst-kix_f1lr7ojo4oib-4 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-3 {
  list-style-type: none;
}
li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
ul.lst-kix_f1lr7ojo4oib-6 {
  list-style-type: none;
}
ul.lst-kix_f1lr7ojo4oib-5 {
  list-style-type: none;
}
.lst-kix_ayyts24i95qf-8 > li:before {
  content: "\0025a0  ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c1 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c6 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: left;
  height: 11pt;
}
.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  font-family: "Arial";
  font-style: normal;
}
.c22 {
  padding-top: 0pt;
  padding-bottom: 16pt;
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c8 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  font-family: "Arial";
  font-style: normal;
}
.c3 {
  color: #999999;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c0 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Arial";
  font-style: normal;
}
.c17 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 15pt;
  font-family: "Arial";
  font-style: normal;
}
.c15 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c4 {
  padding-top: 0pt;
  padding-bottom: 1rem;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c12 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c13 {
  color: #1155cc;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c10 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #999999;
  text-decoration: underline;
}
.c23 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c20 {
  color: inherit;
  text-decoration: inherit;
}
.c16 {
  padding: 0;
  margin: 0;
}
.c7 {
  margin-left: 72pt;
  padding-left: 0pt;
}
.c11 {
  font-size: 19pt;
}
.c14 {
  color: #222222;
}
.c18 {
  font-size: 16pt;
}
.c9 {
  font-weight: 700;
}
.c21 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.2;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
